body {

    margin: 0;
}

hr {

    margin-top: 100px;
}

.catagory a {

    text-decoration: none;
    transition: transform 2s ease-in;
}

.catagory a:hover {

    text-decoration: underline;
    font-weight: bold;
    transform: scale(0.1);


}

.img {

    width: 50px;
}

.r {

    margin-top: 150px;

}