body {

    margin: 0;
}

hr {

    margin-top: 100px;
}

.catagory a {

    text-decoration: none;

}

.catagory a:hover {

    text-decoration: underline;
    color: black;

}

.img {

    width: 50px;
}